@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: rgb(242, 242, 242);
    height: 50px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    align-items: center;
    z-index: 10;
    box-shadow: rgb(218, 210, 210) 0px 3px 8px;
}

.navname{
    flex: 0.2;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}

.navhead{
    color:rgb(29, 109, 109);
}
.navheaddark{
    color:aqua;
}


.navbar ul{
    font-size: small;
    display: flex;
    justify-content:space-around;
    flex: 0.8;
    align-items: center;
}

.navbar li{
    list-style: none;
}

.navelements{
    font-weight: 700;
    text-decoration: none;
    color: rgb(84, 84, 84);
    transition: 0.3s;
}
.navelements:hover{
    color:black;
}

.navelementsdark{
    color: rgb(213, 213, 213);
}
.navelementsdark:hover{
    color:white;
}



#moonimage{
    height: 20px;
    width: 20px;
    transition: 0.5s;
}

#moonimage:hover{
    transform: scale(0.9) rotate(-20deg);
}



.line-l{
    background-color: #FF0266;
    height: 2px;
    width: 100%;
    position: fixed;
    top: 70px;
    z-index:5;
}

.cardcontainer{
    margin-top: 120px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-gap:20px 20px;
}

.card-img-top{
    height: 12rem;
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    transition: 0.5s;
}

.card:hover .card-img-top{
    transform: scale(1.05);
}

.card{
    height: 36rem;
    background-color: rgb(243, 243, 243);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgb(218, 210, 210) 0px 3px 8px;
}

.carddark{
    color: white;
    box-shadow: black 0px 3px 8px;
    background-color: #121212;
}


.card-body{
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}
.cardbodydark{
    color: white;
}


.btn{
    background-color: rgb(29, 109, 109);
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: white;
    width: 5rem;
    margin-bottom: 20px;
    transition: 0.2s;
}
.btn:hover{
    transform: scale(1.02);
}

.btndark{
    background-color: cyan;
    color: black;
    transition: 0.1s;
}

.btndark:hover{
    transform: scale(1.02);
}

.card-title{
    font-size: larger;
}

/* .card:hover{
    transform: scale(1.02);
    border: 1px solid white;
    box-shadow: black 0px 3px 8px;
} */


.darkmode{
    background-color: #212121;
    color: white;
}

.navdarkmode{
    background-color: #121212;
    box-shadow: black 0px 3px 8px;
}





